version: 2.1

orbs:
  semantic-release: trustedshops-public/semantic-release@5.1.1
  github-utils: trustedshops-public/github-utils@1.1.2

executors:
  python:
    docker:
      - image: cimg/python:3.11.4
  node:
    docker:
      - image: cimg/python:3.11.4-node

jobs:
  test:
    executor: python
    steps:
      - checkout
      - run:
          name: Check installing library works
          command: python3 ./setup.py install --user
  pip-publish:
    executor: python
    parameters:
      repository:
        type: string
        description: Name of the repository to publish to
    steps:
      - checkout
      - run:
          name: Set version
          command: |
            if [ ! -z "$CIRCLE_TAG" ]
            then
              echo "Building for tag"
              version="${CIRCLE_TAG}"
            else
              echo "Building for snapshot"
              last_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
              version="${last_tag}.dev${CIRCLE_BUILD_NUM}"
            fi

            echo "export VERSION=${version}" >> $BASH_ENV
      - run:
          name: Install dependencies
          command: |
            pip3 install -r requirements.txt
            pip3 install -r requirements-dev.txt
      - run:
          name: Build package
          command: |
            python3 setup.py sdist bdist_wheel
      - run:
          name: Upload package
          command: |
            twine upload --repository <<parameters.repository>> dist/*
  build-gh-pages:
    executor: node
    steps:
      - checkout
      - run:
          name: Install python
          command: |
            sudo apt update
            sudo apt install -y python3 python3-pip
      - run:
          name: Install pdoc
          command: pip3 install pdoc3
      - run:
          name: Install dependencies
          command: |
            pip3 install -r requirements.txt
            pip3 install -r requirements-dev.txt
      - run:
          name: Build html documentation
          command: |
            mkdir gh-pages
            pdoc3 mailtrap_handler -o gh-pages --html --force
            echo '<meta http-equiv="refresh" content="0; URL=https://trustedshops-public.github.io/python-mailtrap-handler/mailtrap_handler/">' > gh-pages/index.html

      - github-utils/publish_github_pages:
          folder: gh-pages/
          git_commit_author_email: "no-reply@trustedshops.com"
          git_commit_author_name: "trustedshops-public-cns-bot"

workflows:
  version: 2
  continuous:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - pip-publish:
          name: pip-publish-testpypi
          repository: testpypi
          filters:
            branches:
              only:
                - main
          requires:
            - test
          context:
            - pip-test
      - pip-publish:
          name: pip-publish-pypi
          repository: pypi
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - test
          context:
            - pip-live
      - build-gh-pages:
          context:
            - semantic-release
          filters:
            branches:
              only:
                - main
          requires:
            - test
            - pip-publish-testpypi
      - semantic-release/with_changelog_github_config:
          name: semantic-release
          filters:
            branches:
              only:
                - main
          requires:
            - test
          context:
            - semantic-release
